@{
    ViewData["Title"] = "About Me";
}

<h1 class="text-center mt-4">@ViewData["Title"]</h1>

<div class="container">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Meet the Maker</h2>
            <p class="card-text">Hi there! I'm Gundars, the creator of this application.</p>
            <p class="card-text">I'm a results-driven software developer with a strong background in C# and full-stack web technologies like .NET Core, Web API, MVC, MySQL, CSS, HTML,
                and JavaScript. I thrive on solving complex problems using logical thinking and problem-solving skills, which inspired me to pursue a career in software development.</p>
            <p class="card-text">I aimed to fulfill all the requirements and design this application as simple as possible while meeting the specified criteria.</p>
            <p class="card-text">Feel free to reach out to me at <a href="mailto:gundarens@gmail.com">gundarens@gmail.com</a> if you have any questions or feedback!</p>
        </div>
    </div>
</div>