@model ToDoListApp.Models.ToDoItem

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <hr />
    @Html.Partial("_ToDoItemDetailsPartial", Model)
</div>
<div>
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> 
    <a class="btn btn-secondary" asp-action="Index">Back to List</a>
</div>
