html {
    font-size: 14px;
}

.description {
    display: none;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}
.btn{
    width: 100%;
    margin-bottom:4px;
}

body {
    margin-bottom: 60px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }

    .description {
        display: table-cell;
    }

    .btn{
        width:auto;
    }
}